.card {
  display: flex;
  flex-direction: column;
  background-color: #303030;
  max-width: 520px;
  height: 520px;  
  border-radius: 24px;

  .button-container {
    padding-bottom: 32px;
  }

  p {
    display: -webkit-box;    
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    text-align: justify;
  }
}

.card .thumb {
  height: 230px;
  border-radius: 24px 24px 0 0;
}

.thumb img {
  width: 100%;    
  transform: scale(1);
  transition: 0.35s ease;
}

.thumb:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 960px) {
  .card {
    height: auto;
    padding-bottom: 16px;

    .button-container {
      padding-block: 16px 12px;
    }
  }
}