.hero {
  padding-top: 240px !important;
  padding-bottom: 72px;
}

.news-section {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .news-section {
    flex-direction: column;
  }
}