.hero {
  padding-top: 240px !important;
  padding-bottom: 72px;
}

.news-section {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .news-section {
    flex-direction: column;
  }
}

.wind-start {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    background: linear-gradient(270deg, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 1) 40%, rgba(30, 30, 30, 1) 100%);
    z-index: 50;
  }
}

@keyframes windParticle {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateY(-10px) translateX(10vw);
    opacity: 0.6;
  }

  40% {
    transform: translateY(5px) translateX(25vw);
    opacity: 0.6;
  }

  60% {
    transform: translateY(-15px) translateX(40vw);
    opacity: 0.4;
  }

  80% {
    transform: translateY(10px) translateX(55vw);
    opacity: 0.3;
  }

  100% {
    transform: translateY(20px) translateX(70vw);
    opacity: 0;
  }
}