.hero {
  padding-top: 240px !important;
  overflow: visible !important;
}

@media screen and (max-width: 525px) {
  .hero {
    padding-top: 184px !important;    
  } 
}

.news-section {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .news-section {
    flex-direction: column;
  }
}

@keyframes windParticle {
  0% {
    transform: translateY(0) translateX(0) scale(0);
    opacity: 1;
  }

  20% {
    transform: translateY(-10px) translateX(20vw) scale(1);
    opacity: 0.6;
  }

  40% {
    transform: translateY(5px) translateX(40vw) scale(1);
    opacity: 0.6;
  }

  60% {
    transform: translateY(-15px) translateX(60vw) scale(1);
    opacity: 0.4;
  }

  80% {
    transform: translateY(10px) translateX(80vw) scale(1);
    opacity: 0.3;
  }

  100% {
    transform: translateY(20px) translateX(100vw) scale(1);
    opacity: 0;
  }
}